

@font-face {
  font-family: 'AmazonFont';
  src: url('fonts/AmazonFontGX.ttf') format('truetype');
}

:root{
--wght: 100;


}


.mirror, .mirror *{
font-variation-settings: 'wght' var(--wght);
}


.my-variable-text {
  font-family: "AmazonFont";
  font-size:6vw;
  text-align: left;
  transition: font-variation-settings 0.6s ease;
  animation-name: amzn-animation;
  animation-duration: 8s;
  animation-direction: alternate, reverse, normal;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  border-style: dashed;
  border-color: #FF9900 ;
  border-width: 6px;
  text-transform: uppercase;
  padding: 1em;
  line-height: 1.3;
  margin: 40px;
  background-color: white;
}



@keyframes amzn-animation {
  from {
    font-variation-settings: "wght" 300;
  }
  to { 
    font-variation-settings: "wght" 900;
    -webkit-animation-delay: 4s;
  }
}

body {
  background-color: Gainsboro;
  color: black;
  overflow: scroll;


}

.dark-mode {
  background-color: blue;
  color: whitesmoke;
}

h1 {
  font-family: 'AmazonFont'; 
  font-variation-settings: 'wght' 10;
  font-weight: 10;
  font-size: 80px;

}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  /* color: blue; */
  font-size: 42px;
  font-weight: 200;

  margin-left: 40px;
}


button{
  font-size: 16x;
  background: black;
  font-weight: normal;
  color: #fff;
  padding: 12px 0;
  width: 214px;
  position: relative;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(222, 222, 222, 1);
  -moz-box-shadow:    4px 4px 0px 0px rgba(222, 222, 222, 1);
  box-shadow:         4px 4px 0px 0px rgba(222, 222, 222, 1);
  cursor: pointer;
  margin-left: 40px;

}


